// Mixins Here
.buttonshtoyle(@bgcolor, @textcolor) {
    background-color: @bgcolor;
    color: @textcolor;
    width: 24%;
    font-size: 1.7rem;
    padding: 2%;
    border-radius: 4px;
    border: 0.5px solid black;
    text-align: center;
        
    &:hover {
        cursor: pointer;
        background-color: @textcolor;
        color: @bgcolor;
        border: 0.5px solid black;
    }
}

.navmobile(@width, @justifycontent){
    width: @width;
    justify-content: @justifycontent;
}